
.DS_Store

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/WorkspaceSettings.xcsettings

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/UserInterfaceState.xcuserstate

