.xcodeproj/ !*.xcodeproj/project.pbxproj
cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/UserInterfaceState.xcuserstate

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/UserInterfaceState.xcuserstate

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/WorkspaceSettings.xcsettings

.DS_Store

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/UserInterfaceState.xcuserstate

cocostouch.xcodeproj/project.xcworkspace/xcuserdata/nikeita.xcuserdatad/UserInterfaceState.xcuserstate
